---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import GetStarted from '../components/GetStarted.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Shojin-App | AtCoderの精進をスマホでも。">
  <main>
    <Hero />
    <div class="divider"></div>
    <Features />
    <div class="divider"></div>
    <GetStarted />
  </main>
  <Footer />
</Layout>
