---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Shojin-App | Competitive Programming on Mobile">
  <Header />
  <main>
    <Hero />
    <div class="space large"></div>
    <Features />
    <div class="space large"></div>
  </main>
  <Footer />
</Layout>
