<section class="responsive large-padding">
  <div class="grid">
    <div class="s12 m4 l4">
      <article class="fill surface large-padding rounded card-hover" style="background-color: #15171c;">
        <div class="row">
          <i class="large primary-text" style="color: #00e676;">code</i>
        </div>
        <div class="space"></div>
        <h5 class="white-text bold">快適なコーディング</h5>
        <p style="color: #a0a0a0;">
          シンタックスハイライト、補完機能付きエディタで、スマホでもストレスなくコードが書けます。
        </p>
        <div class="space"></div>
        <a href="#" class="link primary-text" style="color: #7c4dff;">詳しく見る &rarr;</a>
      </article>
    </div>
    <div class="s12 m4 l4">
      <article class="fill surface large-padding rounded card-hover" style="background-color: #15171c;">
        <div class="row">
          <i class="large secondary-text" style="color: #536dfe;">play_arrow</i>
        </div>
        <div class="space"></div>
        <h5 class="white-text bold">自動テスト</h5>
        <p style="color: #a0a0a0;">
          サンプルケースをワンタップで実行・判定。提出前の確認がスムーズに行えます。
        </p>
        <div class="space"></div>
        <a href="#" class="link secondary-text" style="color: #536dfe;">使い方を見る &rarr;</a>
      </article>
    </div>
    <div class="s12 m4 l4">
      <article class="fill surface large-padding rounded card-hover" style="background-color: #15171c;">
        <div class="row">
          <i class="large tertiary-text" style="color: #ffab00;">event</i>
        </div>
        <div class="space"></div>
        <h5 class="white-text bold">コンテスト管理</h5>
        <p style="color: #a0a0a0;">
          開催予定のコンテストを確認し、リマインダー通知を受け取ることができます。
        </p>
        <div class="space"></div>
        <a href="#" class="link tertiary-text" style="color: #ffab00;">機能一覧 &rarr;</a>
      </article>
    </div>
  </div>
</section>
