<footer class="responsive padding center-align" style="border-top: 1px solid #222;">
  <div class="space"></div>
  <nav class="center-align">
    <a href="#" class="link white-text">ライセンス (Apache 2.0)</a>
    <a href="#" class="link white-text">プライバシーポリシー</a>
  </nav>
  <div class="space"></div>
  <p class="small-text" style="color: #666;">
    Copyright &copy; 2025 Shojin App<br>
    <span style="font-size: 0.8em;">「AtCoder」はAtCoder株式会社の登録商標です。本アプリは非公式です。</span>
  </p>
</footer>
