<footer class="responsive padding center-align" style="border-top: 1px solid #222;">
  <div class="space"></div>
  <nav class="center-align">
    <a href="#" class="link white-text">Open-source Apache Licensed</a>
    <a href="#" class="link white-text">Privacy policy</a>
  </nav>
  <div class="space"></div>
  <p class="small-text" style="color: #666;">
    Copyright &copy; 2025 Shojin App<br>
    <span style="font-size: 0.8em;">Not affiliated with AtCoder Inc.</span>
  </p>
</footer>
