<footer class="responsive padding">
  <div class="grid middle-align">
    <div class="s12 m6 l6">
      <p>&copy; 2025 Shojin-App</p>
      <p class="small-text">「AtCoder」はAtCoder株式会社の登録商標です。本アプリは非公式です。</p>
    </div>
    <div class="s12 m6 l6 right-align">
      <nav>
        <a href="https://github.com/Shojin-App/Shojin-App" target="_blank" class="button circle transparent">
          <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" style="width: 24px; height: 24px; filter: invert(1);">
        </a>
      </nav>
    </div>
  </div>
</footer>
