<header class="responsive transparent top-nav">
  <nav class="transparent">
    <h5 class="max text-gradient bold" style="font-size: 1.5rem;">Shojin</h5>
    <div class="space"></div>
    <a href="https://github.com/Shojin-App/Shojin-App" target="_blank" class="button circle transparent">
      <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" style="width: 24px; height: 24px; filter: invert(1);">
    </a>
  </nav>
</header>
